---
bases:
  - ../../base

resources:
  - ./secrets.yaml
  - ./bootstrap-secrets.yaml

patches:
  - ./api-deployment.yaml
  - ./cron-deployment.yaml
  - ./dbutil-deployment.yaml
  - ./migratees-job.yaml
  - ./migratepg-job.yaml
  - ./processor-deployment.yaml

images:
  - name: retracedhq/retraced
    newTag: 1.8.2
