apiVersion: apps/v1
kind: Deployment
metadata:
  name: retraced-api
  namespace: '{{repl ConfigOption "namespace"}}'
spec:
  selector:
    matchLabels:
      tier: api
  replicas: 1
  template:
    metadata:
      labels:
        app: auditlog
        tier: api
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - auditlog
                    - key: tier
                      operator: In
                      values:
                        - api
                topologyKey: "kubernetes.io/hostname"
      initContainers:
        - name: bootstrap
          image: retracedhq/retraced-local
          command:
            - /bin/sh
          args:
            - -c
            - ./build/src/retracedctl
              bootstrap
              --projectName   "$BOOTSTRAP_PROJECT_NAME"
              --projectId     "$BOOTSTRAP_PROJECT_ID"
              --environmentId "$BOOTSTRAP_ENVIRONMENT_ID"
              --apiKey        "$BOOTSTRAP_API_TOKEN"
          envFrom:
            - secretRef:
                name: auditlog
            - secretRef:
                name: bootstrap
      containers:
        - name: api
          startupProbe:
            httpGet:
              port: 3000
              path: /healthz
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              port: 3000
              path: /healthz
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5
            successThreshold: 2
          image: retracedhq/retraced-local
          imagePullPolicy: IfNotPresent
          command:
            - node
            - --inspect=0.0.0.0
            - build/src/index.js
          ports:
            - containerPort: 3000
              name: http
              protocol: TCP
          envFrom:
            - secretRef:
                name: auditlog
          env:
            - name: BUGSNAG_TOKEN
              valueFrom:
                secretKeyRef:
                  key: API_TOKEN
                  name: auditlog
            - name: EXPORT_PAGE_SIZE_INTERNAL
              value: "2"
          resources:
            requests:
              cpu: 100m
            limits:
              cpu: 500m
