---
bases:
  - ../../base
  - ../dbs

resources:
  - ./secrets.yaml
  - ./bootstrap-secrets.yaml
  - ./admin-portal-secrets.yaml

patches:
  - ./admin-portal-service.yaml
  - ./api-service.yaml

commonLabels:
  retraceddev: "1"
