---
bases:
  - ../../base
  - ../../base/services
  - ../dbs

resources:
  - ./secrets.yaml
  - ./bootstrap-secrets.yaml
  - ./admin-portal-secrets.yaml

commonLabels:
  retraceddev: "1"

images:
  - name: boxyhq/jackson
    newTag: 1.11.0
  - name: retracedhq/retraced
    newTag: 1.7.1
