name: CI

on:
  push:
    branches:
      - "*"
    tags:
      - "beta-v*"
  pull_request_target:
    types: [opened, synchronize, reopened]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  # Schedule
  schedule:
    - cron: "0 8 * * MON,THU" # Run every Monday and Thursday at 08:00 UTC

jobs:
  ci:
    runs-on: ubuntu-latest
    outputs:
      NPM_VERSION: ${{ steps.version.outputs.NPM_VERSION }}
      PUBLISH_TAG: ${{ steps.version.outputs.PUBLISH_TAG }}
    strategy:
      matrix:
        node-version: [18]

    steps:
      - uses: actions/checkout@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: node -v
      - run: npm -v
      - run: npm install
      - run: npm run lint
      - run: npm run build
      - run: npm run cover
      - id: version
        run: |
          npm install -g json
          RETRACED_VERSION=$(echo $(cat ./package.json) | json version)

          publishTag="latest"

          if [[ "$GITHUB_REF" == *\/release ]]
          then
            echo "Release branch"
          else
            echo "Dev branch"
            publishTag="beta"
            RETRACED_VERSION="${RETRACED_VERSION}-beta.${GITHUB_RUN_NUMBER}"
          fi

          echo "NPM_VERSION=${RETRACED_VERSION}" >> $GITHUB_OUTPUT
          echo "PUBLISH_TAG=${publishTag}" >> $GITHUB_OUTPUT

  build:
    needs: ci
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18]

    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Get short SHA
        id: slug
        run: echo "SHA7=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        if: github.ref == 'refs/heads/release'
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Set up QEMU
        if: github.ref == 'refs/heads/release'
        uses: docker/setup-qemu-action@v2

      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/release'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push
        if: github.ref == 'refs/heads/release'
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./deploy/Dockerfile-slim
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ github.repository }}:${{ needs.ci.outputs.PUBLISH_TAG }},${{ github.repository }}:${{ steps.slug.outputs.SHA7 }},${{ github.repository }}:${{ needs.ci.outputs.NPM_VERSION }}

      - name: Image digest
        if: github.ref == 'refs/heads/release'
        run: echo ${{ steps.docker_build.outputs.digest }}

      - name: Login to GitHub Container Registry
        if: github.ref == 'refs/heads/release'
        run: |
          echo "${{secrets.GITHUB_TOKEN}}" | docker login ghcr.io -u ${{github.repository_owner}} --password-stdin

      - name: Install Cosign
        if: github.ref == 'refs/heads/release'
        uses: sigstore/cosign-installer@main

      - name: Check install!
        if: github.ref == 'refs/heads/release'
        run: cosign version

      - name: place the cosign private key in a file
        if: github.ref == 'refs/heads/release'
        run: 'echo "$COSIGN_KEY" > /tmp/cosign.key'
        shell: bash
        env:
          COSIGN_KEY: ${{secrets.COSIGN_KEY}}

      - name: Sign the image
        if: github.ref == 'refs/heads/release'
        run: cosign sign --key /tmp/cosign.key ${{ github.repository }}:${{ steps.slug.outputs.SHA7 }} || true
        env:
          COSIGN_PASSWORD: ${{secrets.COSIGN_PASSWORD}}

      - name: Create SBOM Report [SPDX]
        uses: anchore/sbom-action@v0
        with:
          format: spdx
          artifact-name: retraced_sbom.spdx
      - name: Publish report [SPDX]
        uses: anchore/sbom-action/publish-sbom@v0
        with:
          sbom-artifact-match: ".*\\.spdx$"
      - name: Create SBOM Report [CycloneDx]
        uses: anchore/sbom-action@v0
        with:
          format: cyclonedx
          artifact-name: retraced_sbom.cyclonedx
      - name: Publish report [CycloneDx]
        uses: anchore/sbom-action/publish-sbom@v0
        with:
          sbom-artifact-match: ".*\\.cyclonedx$"
      - name: Download artifact for SPDX Report
        if: github.ref == 'refs/heads/release'
        uses: actions/download-artifact@v3
        with:
          name: retraced_sbom.spdx
      - name: Download artifact for CycloneDx Report
        if: github.ref == 'refs/heads/release'
        uses: actions/download-artifact@v3
        with:
          name: retraced_sbom.cyclonedx
      - name: Remove older SBOMs
        if: github.ref == 'refs/heads/release'
        run: rm -rf ./sbom*.* || true
      - name: Move SPDX Report
        if: github.ref == 'refs/heads/release'
        run: mv retraced_sbom.spdx "./sbom.spdx"
      - name: Move CycloneDx Report
        if: github.ref == 'refs/heads/release'
        run: mv retraced_sbom.cyclonedx "./sbom.cyclonedx"

      - name: Scan docker image using TERN
        if: github.ref == 'refs/heads/release'
        uses: philips-labs/tern-action@v1.2.0
        id: scan
        with:
          image: ${{ github.repository }}:${{ needs.ci.outputs.PUBLISH_TAG }}
          format: spdxtagvalue
          output: docker_sbom.spdx
      - name: Create/Clear folder
        if: github.ref == 'refs/heads/release'
        run: mkdir -p ./_docker/ && rm -rf ./_docker/*.* || true

      - name: Docker CycloneDx report
        if: github.ref == 'refs/heads/release'
        run: npm install -g @appthreat/cdxgen && cdxgen ${{ github.repository }}:${{ needs.ci.outputs.PUBLISH_TAG }} -o ./_docker/sbom.xml -t docker

      - name: Move Report & cleanup (Docker)
        if: github.ref == 'refs/heads/release'
        run: |
          mv docker_sbom.spdx "./_docker/sbom.spdx" || true
          rm results.sarif || true
          rm ./_docker/sbom.json || true
          mv ./_docker/sbom.xml ./_docker/sbom.cyclonedx || true
      - name: ORAS Setup & Push SBOM reports to GitHub Container Registry
        if: github.ref == 'refs/heads/release'
        run: |
          ORAS_VERSION="0.8.1"
          ORAS_FILENAME="oras_0.8.1_linux_amd64.tar.gz"
          curl -LO "https://cdn.bundle.bar/clients/oras/${ORAS_VERSION}/${ORAS_FILENAME}"
          mkdir oras_install
          tar -xvf "${ORAS_FILENAME}" -C oras_install
          ./oras_install/oras push ghcr.io/${{github.repository_owner}}/retraced/sbom:service-${{ needs.ci.outputs.NPM_VERSION }} ./sbom.*
          cd _docker || true
          ../oras_install/oras push ghcr.io/${{github.repository_owner}}/retraced/sbom:docker-${{ needs.ci.outputs.NPM_VERSION }} ./sbom.* || true
          cd ..

      - name: Sign the sbom images
        if: github.ref == 'refs/heads/release'
        run: |
          cosign sign --key /tmp/cosign.key ghcr.io/${{github.repository_owner}}/retraced/sbom:service-${{ needs.ci.outputs.NPM_VERSION }} || true
          cosign sign --key /tmp/cosign.key ghcr.io/${{github.repository_owner}}/retraced/sbom:docker-${{ needs.ci.outputs.NPM_VERSION }} || true
        env:
          COSIGN_PASSWORD: ${{secrets.COSIGN_PASSWORD}}
